.right{
	float: right;
}
.left{
	float: left;
}

.mainnav{
	height: 100px;
	background: linear-gradient(270deg, #2980b9, #6200b2);
	background-size: 400% 400%;
	box-shadow: 0px 10px 10px #888888;
	-webkit-animation: Skyworksheader 14s ease infinite;
	-moz-animation: Skyworksheader 14s ease infinite;
	animation: Skyworksheader 14s ease infinite;
}

.mainnav img {
	max-width: 80%;
	max-height: 80%;
	float: left;
	padding: 15px 5px 0px 5px;
}

.landingimage img{
	max-width: 100%;
	max-height: 100%;
}

.navigationitems ul{
	overflow:hidden;
	margin:0;
	padding: 0;
	list-style-type:none;
}

.navigationitem li{
	float:left;
	margin-bottom:0;
	margin-right: 0.5em;
	background: #eee;
	line-height: 1;
	border: 1px solid #ddd;
}

.navigationitem a{
	padding: 0.25em 0.5em;
	display: block;
	border: none;
}

@-webkit-keyframes Skyworksheader {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes Skyworksheader {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes Skyworksheader { 
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}